@charset "UTF-8";
/*******************************************************
 *CSS3生产函数
 *1.$property           属性名：border-radius
 *2.$vale               属性值：10px
 *3.$prefixes           需要添加的浏览器：webkit,moz,ms,o,spec
 *4.$prefix             为$prefixes中每次循环对应的值
 */
/*响应式*/
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.5 arial,\5b8b\4f53;
  color: #333;
  outline: 0;
}

body {
  background: #fff;
}

a, a:hover {
  color: #333;
}

/* function */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}

.f-cb, .f-cbli li {
  zoom: 1;
}

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.f-dn {
  display: none;
}

.f-db {
  display: block;
}

.f-fl {
  float: left;
}

.f-fr {
  float: right;
}

.f-pr {
  position: relative;
}

.f-prz {
  position: relative;
  zoom: 1;
}

.f-oh {
  overflow: hidden;
}

.f-ff0 {
  font-family: arial,\5b8b\4f53;
}

.f-ff1 {
  font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;
}

.f-fs1 {
  font-size: 12px;
}

.f-fs2 {
  font-size: 14px;
}

.f-fwn {
  font-weight: normal;
}

.f-fwb {
  font-weight: bold;
}

.f-tal {
  text-align: left;
}

.f-tac {
  text-align: center;
}

.f-tar {
  text-align: right;
}

.f-taj {
  text-align: justify;
  text-justify: inter-ideograph;
}

.f-vam, .f-vama * {
  vertical-align: middle;
}

.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.f-ti {
  overflow: hidden;
  text-indent: -30000px;
}

.f-ti2 {
  text-indent: 2em;
}

.f-lhn {
  line-height: normal;
}

.f-tdu, .f-tdu:hover {
  text-decoration: underline;
}

.f-tdn, .f-tdn:hover {
  text-decoration: none;
}

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.f-csp {
  cursor: pointer;
}

.f-csd {
  cursor: default;
}

.f-csh {
  cursor: help;
}

.f-csm {
  cursor: move;
}

.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/**/
html, body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/**************************
 * 公共样式
 */
.m-topNavGroup a {
  display: inline-block;
  padding: 0 10px;
  color: #ffffff;
  background-color: #646262;
}
.m-topNavGroup a.active {
  color: #c3c3c3;
}
.m-topNavGroup a:hover {
  color: #000000;
  background-color: #ffffff;
}

/******************************
 * 通用样式
 */
.i-block {
  margin: 20px;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 1px 3px 5px 0px #bbb;
  box-shadow: 1px 3px 5px 0px #bbb;
}

.i-word {
  padding: .5em 1em;
  font-size: 12px;
}

/*******************************
 * 组件样式
 */
.u-title {
  padding: .5em 1em;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
}

/****************
 * 布局模块样式
 */
.m-topNavGroup {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  background-color: #646262;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
}
.m-topNavGroup .logo {
  margin-left: 10px;
  min-width: 25%;
  letter-spacing: 4px;
  color: #ffffff;
  font-size: 38.4px;
  font-style: italic;
  font-family: "Arial";
  font-weight: bold;
}
.m-topNavGroup .header-collaspe {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.m-topNavGroup .header-collaspe .bars {
  display: block;
  margin: 5px 0;
  height: 5px;
  background-color: #ffffff;
  border-radius: 3px;
}
.m-topNavGroup .header-collgroup {
  height: 0;
  border: none;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.m-topNavGroup .header-collgroup nav {
  display: block;
}
.m-topNavGroup .header-collgroup a {
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.m-topNavGroup > nav {
  margin: 0 20px 0 40px;
  float: left;
}
@media (max-width: 1200px) {
  .m-topNavGroup > nav {
    display: none;
  }
  .m-topNavGroup .header-collaspe {
    display: block;
  }
  .m-topNavGroup .header-collgroup {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 9999;
  }
  .m-topNavGroup .header-collgroup.active {
    height: 182px;
  }
  .m-topNavGroup .header-collgroup nav {
    display: block;
    border: 1px solid #646262;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.m-content {
  padding: 40px 20px;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
}
